*.html
*.html
*.pdf
*.pdf
*.redxml
*.redxml
*.swp
*.swp
*.txt
*.txt
*.upload
*.upload
*~
*~
.tags
.tags
/*-[0-9][0-9].xml
/*-[0-9][0-9].xml
/.*.mk
/.*.mk
/.gems/
/.gems/
/.idea/
/.refcache
/.refcache
/.venv/
/.venv/
/.vscode/
/.vscode/
/lib
/node_modules/
/node_modules/
/versioned/
/versioned/
Gemfile.lock
Gemfile.lock
archive.json
archive.json
draft-zheng-ccamp-client-pm-yang.xml
package-lock.json
package-lock.json
report.xml
report.xml
!requirements.txt
!requirements.txt
